body {
  font-family: "Work Sans", sans-serif;
  /* margin-left: 50px;
  margin-top: 150px; */
  background: rgb(2, 4, 27);
}
.timeContainer {
  background: rgb(12, 12, 12);
  color: rgba(255, 255, 255, 0.918);
  border: 7px solid rgb(174, 186, 211);
  border-radius: 10px;
  padding: 8px;
  text-align: center;
  width: 500px;
  max-height: 10000px;
  box-shadow: 0 0 5px #070236, 0 0 25px #04107c, 0 0 40px #0e1792,
    0 0 60px #274586;
  margin: 30vh auto;
}

.hms {
  font-size: 68px;
  font-weight: 200px;
}
.ampm {
  font-size: 22px;
}
.date {
  font-size: 15px;
}
.today {
  display: inline-block;
  border: 2px solid rgb(11, 47, 166);
  border-radius: 10px;
  box-shadow: 3px 3px 20px #3d4172;
  padding: 10px;
}
.day {
  display: inline-block;
  color: #292786;
}
.weekDays {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-around;
  flex: 1px;
  text-align: center;
  margin: 20px;
  align-items: center;
}
